
<article class="article right" data-aos="fade-left" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Generación de un diseño de comprobación</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">

                El procedimiento que se empleará para probar la calidad y 
                validez del modelo de regresión logística serán las métricas de exactitud, 
                precisión, sensibilidad y especificidad. Para evaluar el modelo de 
                regresión lineal utilizaremos las medidas del error cuadrático medio. 
                Para entender mejor estos indicadores vamos a describirlos a continuación. 
            
            </p>
        </div>
    </section>

    <section class="sect three">
        <div>
            <p class="p" id="p-o-r">Métricas</p>
        </div>
        <div class="one three">
            <div class="ot" (click)="load_modal(modal_one)">
                <div class="div-img">
                    <div class="st">
                        <div class="icon middle img" id="extract"></div>
                    </div>
                </div>
                <p class="p">Exactitud</p>
            </div>
            <div class="ot" (click)="load_modal(modal_two)">
                <div class="div-img">
                    <div class="st">
                        <div class="icon middle img" id="load"></div>
                    </div>
                </div>
                <p class="p">Precisión</p>
            </div>
            <div class="ot" (click)="load_modal(modal_three)">
                <div class="div-img">
                    <div class="st">
                        <div class="icon middle img" id="transform"></div>
                    </div>
                </div>
                <p class="p">Sensibilidad</p>
            </div>
            <div class="ot" (click)="load_modal(modal_four)">
                <div class="div-img">
                    <div class="st">
                        <div class="icon middle img" id="extract"></div>
                    </div>
                </div>
                <p class="p">Especificidad</p>
            </div>
            <div class="ot" (click)="load_modal(modal_five)">
                <div class="div-img">
                    <div class="st">
                        <div class="icon middle img" id="load"></div>
                    </div>
                </div>
                <p class="p">Error cuadrático medio </p>
            </div>

        </div>
        
    </section>

    <div class="modal-image" *ngIf="open_modal">
        <div class="body">
            <section class="sect two sect-modal-title">
                <div>
                    <p class="p" id="p-one-r">{{modal_select.title}}</p>
                    <a class="modal_close" (click)="open_modal=false">X</a>
                </div>
            </section>
            <section class="sect two sect-modal-content">
                <div id="two-r" class="img-correlation">
                    <div class="icon" *ngIf="modal_select.title=='Exactitud'" id="ecuacion_1"></div>
                    <div class="icon" *ngIf="modal_select.title=='Precisión'" id="ecuacion_2"></div>
                    <div class="icon" *ngIf="modal_select.title=='Sensibilidad'" id="ecuacion_3"></div>
                    <div class="icon" *ngIf="modal_select.title=='Especificidad'" id="ecuacion_4"></div>
                    <div class="icon" *ngIf="modal_select.title=='Error cuadrático medio (RMSE)'" id="ecuacion_5"></div>
                </div>
                <div class="r" class="img-correlation">
                    <p class="p four r" id="p-fig-4">
                        {{modal_select.content}} 
                    </p>
                </div>
            </section>
        </div>
    </div>
    
</article>