
<div class="page">

    <aside class="aside left">
        <section class="sect">
            
            <div class="div three">
                <a [routerLink]='"."' fragment="introduction" routerLinkActive="active" class="p three">Introducción</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="lineal" routerLinkActive="active" class="p three">Modelo de regresión lineal</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="logistic" routerLinkActive="active" class="p three">Modelo de regresión logística</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="conclusion" routerLinkActive="active" class="p three">Conclusión</a>
            </div>
    
        </section>
        
    </aside>

    <app-footer></app-footer>
    
</div>