
<article class="article right" data-aos="fade-left">

    <section class="sect two">
    
    <div>
        <p class="p" id="p-one-r">Comprensión de los datos</p>
    </div>

    <div class="r">

        <ul>
            <li>
                <div class="img">
                    <app-cloud-white class="svg"></app-cloud-white>
                </div>
                <p class="p four r" id="p-four-r">
                    Durante el transcurso de esta etapa de la metodología CRISP-DM 
                    se realizará la búsqueda y obtención inicial de los datos 
                    respectivos para conformar una idea temprana del problema, 
                    conocer a fondo los datos y evaluar su calidad, 
                    como también establecer las posibles relaciones existentes entre ellos. 
                </p>
            </li>
        </ul>

    </div>

    </section>
    
</article>