
<article class="article right" data-aos="fade-left">

    <section class="sect two">
    
    <div>
        <p class="p" id="p-one-r">Modelos</p>
    </div>

    <div class="r">

        <ul>
            <li>
                <div class="img">
                    <app-cloud-white class="svg"></app-cloud-white>
                </div>
                <p class="p four r" id="p-four-r">

                    En esta fase presentaremos los modelos de predicción 
                    que hemos desarrollado para la produccíon de cultivos 
                    de café en Colombia, tanto el modelo de regresión lineal 
                    como el modelo de regresión logistica.
                    Estos modelos de predicción pueden ser herramientas útiles 
                    para los agricultores y los encargados de la producción de 
                    café en Colombia. Pueden ayudar en la toma de decisiones 
                    relacionadas con la gestión de los cultivos, la planificación 
                    de la producción y la adopción de medidas preventivas para 
                    enfermedades o plagas. 

                </p>
            </li>
        </ul>

    </div>

    </section>
    
</article>