<header class="header">
    <nav class="nav">

        <section class="sect1">
            <app-logo id="iconLogo"></app-logo>
        </section>

        <section class="sect2">
            <div class="sect" routerLinkActive="active" [style]="route_one">
                <a id="home" routerLink="home"> Home</a>
            </div>
            <div class="sect" routerLinkActive="active" [style]="route_two">
                <a id="red" routerLink="bisness-comprension"> Comprensión del negocio</a>
            </div>
            <div class="sect" routerLinkActive="active" [style]="route_three">
                <a id="job" routerLink="data-comprension"> Comprensión de los datos</a>
            </div>
            <div class="sect" routerLinkActive="active" [style]="route_four">
                <a id="mess" routerLink="data-preparation"> Preparación de los datos</a>
            </div>
            <div class="sect" routerLinkActive="active" [style]="route_five">
                <a id="news" routerLink="data-modeling"> Modelado</a>
            </div>
        </section>

        <section class="sect3">
            <div class="sect" routerLinkActive="active" [style]="route_six">
                <a id="prod" routerLink="models"> Modelos</a>
            </div>
        </section>

    </nav>
</header>