<article class="article right" data-aos="fade-left">

    <section class="sect two">

        <div class="cards">
            <div class="center">

                <div class="card" (click)="load_modal(modal_one)">
                    <div class="img">
                        <app-www class="svg"></app-www>
                    </div>
                    <div class="info">
                        <p class="title sub-title">Comprensión del negocio</p>
                    </div>
                </div>

                <div class="card" (click)="load_modal(modal_two)">
                    <div class="img">
                        <app-cloud class="svg"></app-cloud>
                    </div>
                    <div class="info">
                        <p class="title sub-title">Comprensión de los datos</p>
                    </div>
                </div>

                <div class="card" (click)="load_modal(modal_three)">
                    <div class="img">
                        <app-fixed class="svg"></app-fixed>
                    </div>
                    <div class="info">
                        <p class="title sub-title">Preparación de los datos</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <app-modal></app-modal>

</article>