
<article class="article right" data-aos="fade-left" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Objetivos</p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <app-logo class="icon middle"></app-logo>
            <p class="p three r" id="p-one">¿Para qué?</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                El objetivo principal de este proyecto se enfoca en la aplicación de las diferentes etapas 
                establecidas en la metodología CRISP-DM sobre un conjunto de datos históricos relacionados con 
                la producción agrícola nacional. Mediante esta metodología se pretende diseñar un modelo 
                predictivo para el rendimiento de cultivos en Colombia. Por lo tanto, el proyecto tiene como finalidad aplicar la metodología CRISP-DM al entorno agrícola 
                nacional, mientras que por medio de esta metodología extraemos conclusiones y hacemos 
                predicciones lo más precisas posibles, dentro de lo que permita el modelo desarrollado, partiendo 
                de un conjunto de datos previamente recolectados.
            </p>
        </div>
    </section>

    <section class="sect three">
        <div id="div-title">
            <p class="p" id="p-o-r">Datos</p>
        </div>
        <div class="one three">
            <div class="ot" (click)="load_modal()">
                <div class="div-img">
                    <div class="st">
                        <div class="img icon middle" id="img_1"></div>
                    </div>
                </div>
                <p class="p">Muestra del dataset</p>
            </div>

        </div>
        
    </section>

    <div class="modal-image" *ngIf="open_modal">
        <div class="body">
            <section class="sect one sect-modal-title">
                <div>
                    <p class="p" id="modal-title">Dataset</p>
                    <a class="modal_close" (click)="open_modal=false">X</a>
                </div>
            </section>
            <section class="sect two sect-modal-content">
                <div class="div-load" *ngIf="loading">
                    <div class="loading">
                        <div class="fondo"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="r" class="img-correlation">
                    <p class="p four r p-modal-head" *ngFor="let atr of head_title">
                        {{atr}}
                    </p>
                </div>
                <div class="r" class="img-correlation">
                    <div class="p four r" id="list-data" *ngFor="let atr of head_data">
                        <p class="p four r p-modal-head" id="modal-val" *ngFor="let val of atr">
                            {{val}}
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
</article>