
<article class="article right">

    <section class="sect two" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    
    <div>
        <p class="p" id="p-one-r">Conclusión</p>
    </div>

    <div class="r">

        <ul>

            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">

                    Como ya hemos mencionado, el uso de las nuevas 
                    tecnologías se ha convertido en algo cotidiano 
                    para las personas, llegando al punto de convertirse 
                    en un elemento esencial en la vida de los seres 
                    humanos. Toda esta tecnología ha generado y genera 
                    continuamente una gran cantidad de datos. 
                    En el caso de la agricultura, para el análisis de 
                    estos mismos datos se deben incorporar técnicas de 
                    procesamiento más eficaces, ya que las variables 
                    involucradas en el rendimiento de cultivos 
                    contienen distintos niveles de detalle. 
                    <br>
                    <br>
                    Distintos tipos de técnicas de minería de datos han 
                    sido aplicados para extraer el mayor beneficio 
                    de la información relacionada con la agricultura, 
                    mostrando esto que su implementación trae 
                    grandes oportunidades para el desarrollo y optimización 
                    de los diferentes procesos dentro del ámbito agrícola.
                    El uso de la información generada por los distintos 
                    sensores y medidores puede ser un método 
                    para combatir el bajo rendimiento en las actividades 
                    agrícolas, proveyendo información crucial 
                    para el mejoramiento y optimización en este sector.
                    <br>
                    <br>
                    En nuestro país se debería implementar en mayor 
                    grado el uso de técnicas de minería de datos 
                    para combatir los problemas relacionados con el 
                    clima y la geografía que podrían afectar la 
                    producción agrícola nacional. En la actualidad, 
                    la minería de datos espacial es poco explorada en el 
                    ámbito de la agricultura, pese a ser una potente 
                    herramienta que brinda a los países 
                    oportunidades en el desarrollo de sus actividades agrícolas.

                </p>
            </li>

        </ul>

    </div>

    </section>
    
</article>