
.sect{
    background-color: white;
    margin: 10px;
    padding: 2rem;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    font-size: .8rem;
}

section div{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 15px 5px 15px;;
    padding: 0;
}

a{
    background-color: white;
    text-decoration: none;
}

.p{
    background-color: white;
    color: #838383;
    margin: 0;
    font-family: var(--font-family-text);
    padding: 0;
}

article section{
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 20px;
    padding: 0 15px 0 15px;
}

article .one div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-one-r{
    margin: 0;
    flex: 30;
    padding: 0.5rem 0;
    font-size: .9rem;
    color: var(--bg-footer);
}

.p.three.r{
    color: var(--bg-footer);
}

.sect.two{
    padding: 1rem;
}

#two-r{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.middle{
    margin-right: 2rem;
    width: 2rem;
}

#p-four-r{
    padding: 0 40px 0 20px;
}

.three div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#p-o-r{
    padding-left: 3px;
    margin: 0;
}

.ot{
    width: 25%;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    background: var(--bg-color);
    cursor: pointer;
    font-size: .8rem;
    transition: 1s;
}

.ot:hover{
    transform: scale(1.05);
}

.ot .div-img{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.st{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-top: .2rem;
}

.st p{
    color: var(--bg-footer);
    font-weight: bold;
    text-align: center;
    margin: 0;
    width: 100%;
}

.ot p{
    margin: 0;
    padding: 0;
    text-align: center;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect.three{
    padding: 1rem;
    background: url('../../../assets/images/tendencias.jpg');
    background-size: cover;
}

.one.three{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.three .three{
    padding: .2rem;
    margin: .2rem;
}

.fig-4{
    width: 30rem;
    height: 15rem;
    cursor: pointer;
    transition: 1s;
}

.fig-4:hover{
    transform: scale(1.05);
}

#grafica_1{
    background: url(../../../assets/images/grafica_1.png);
    background-size: cover;
}

#grafica_2{
    background: url(../../../assets/images/grafica_2.png);
    background-size: cover;
}

#grafica_3{
    background: url(../../../assets/images/grafica_3.png);
    background-size: cover;
}

#grafica_4{
    background: url(../../../assets/images/grafica_4.png);
    background-size: cover;
}

#p-fig-4{
    font-size: .6rem;
    text-align: center;
}

hr{
    margin: 2rem 4rem 2rem 4rem;
}

#table{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 0;
    margin: 0;
}

.col-name{
    width: 4.5rem;
    text-align: center;
    color: #838383;
    font-family: var(--font-family-title);
    font-size: .7rem;
    border: 0.5px solid;
    margin: 0;
    padding: .2rem .2rem;
}

.title-col{
    color: var(--bg-footer);
    font-family: var(--font-family-title);
    font-size: .7rem;
}

#legend{
    margin-top: 1rem;
}

.div-load{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-modal-head{
    margin: 0;
    text-transform: lowercase;
    text-align: center;
    font-size: .6rem;
    color: var(--bg-footer);
    border: 1px solid;
    width: 5.2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 10rem;
}

#modal-val{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.img-correlation{
    padding: 0;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row-h{
    height: 10rem;
    margin: 0;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: .5rem;
    width: 6rem;
    border-radius: 80%;
}

.fondo{
    position: absolute;
    width: 10rem;
    left: -60%;
    animation: load 1s ease-in-out infinite;
    border: 1rem solid var(--bg-footer);
}

.circle{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .2rem solid var(--bg-footer);
    z-index: 2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes load {
    100%{
        transform: rotate(360deg);
    }
}