
<article class="article right">

    <section class="sect two" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    
    <div class="cards">
        <div class="center">

            <div class="card">
                <div class="img">
                    <app-www class="svg"></app-www>
                </div>
                <div class="info">
                    <p class="title sub-title">Modelado</p>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <app-fixed class="svg"></app-fixed>
                </div>
                <div class="info">
                    <p class="title sub-title">Evaluación</p>
                </div>
            </div>

        </div>
    </div>

    </section>
    
</article>