
<article class="article right" data-aos="fade-left">

    <section class="sect two">
    
    <div class="cards">
        <div class="center">

            <div class="card">
                <div class="img">
                    <app-www class="svg"></app-www>
                </div>
                <div class="info">
                    <p class="title sub-title">Modelado</p>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <app-fixed class="svg"></app-fixed>
                </div>
                <div class="info">
                    <p class="title sub-title">Evaluación</p>
                </div>
            </div>

        </div>
    </div>

    </section>
    
</article>