
<div class="page">

    <aside class="aside left">
        <section class="sect">
            
            <div class="div three" routerLinkActive="active" [style]="route_one">
                <a [routerLink]='"."' fragment="introduction" class="p three">Introducción</a>
            </div>
            <div class="div three" routerLinkActive="active" [style]="route_two">
                <a [routerLink]='"."' fragment="selection" class="p three">Selección de técnicas de modelado</a>
            </div>
            <div class="div three" routerLinkActive="active" [style]="route_three">
                <a [routerLink]='"."' fragment="generation" class="p three">Generación de un diseño de comprobación</a>
            </div>
            <div class="div three" routerLinkActive="active" [style]="route_four">
                <a [routerLink]='"."' fragment="modeling" class="p three">Generación de los modelos</a>
            </div>
            <div class="div three" routerLinkActive="active" [style]="route_five">
                <a [routerLink]='"."' fragment="evaluation" class="p three">Evaluación del modelo</a>
            </div>
    
        </section>
        
    </aside>

    <app-footer></app-footer>
    
</div>